/* Background for Snow */
body {
  background-color: #061123;
  color: white;

  width: 500px;
  height: 100px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
  animation: animatedBackground 10s linear infinite;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}

/* Login Page */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 174, 23);
  border-radius: 45px;
  padding: 40px;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login_header {
  align-content: center;
  align-items: center;
  font-family: Gill Sans, sans-serif;
  font-size: 50px;
  color: black;
  margin-bottom: 5px;
}

.login_paragraph {
  margin-top: 5px;
  font-family: Gill Sans, sans-serif;
  font-size: 25px;
  color: black;
}

.login_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input_form {
  width: 100%;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.login_button {
  width: 100%;
  padding: 10px 10px;
  display: inline-block;
  font-family: Gill Sans, sans-serif;
  font-weight:bold;
  border-radius: 10px;
  box-sizing: border-box;
  background-color:white;
}

.logout_button {
  top: 60px;
  height: 65px;
  position: fixed;
  right: 2rem;
  bottom: 77.5%;
  cursor: pointer;
  z-index: 900;
}

/* Search Page */

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.search-result-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  margin: auto;
  height: 450px;
  width: 400px;
  /* overflow: hidden; */
}

.search-result-item p {
  color: white;
  margin: 0;
}

.search-result-item img {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.image-container {
  height: 400px;
  width: 400px;
  overflow: hidden;
}
.dog-info {
  z-index: 20;
  margin: 0;
}

.dog-info-text {
  display: flex;
  justify-content: space-around;
}
